# 14. í”„ë¡œì íŠ¸ - Movielens ì˜í™” ì¶”ì²œ ì‹¤ìŠµ

ğŸ¬ì˜í™” ì¶”ì²œ ì‹œìŠ¤í…œ

ì´ë²ˆì— í™œìš©í•  ë°ì´í„°ì…‹ì€ ì¶”ì²œ ì‹œìŠ¤í…œì˜ MNISTë¼ê³  ë¶€ë¥¼ë§Œí•œ Movielens ë°ì´í„°ì…ë‹ˆë‹¤.

- ìœ ì €ê°€ ì˜í™”ì— ëŒ€í•´ í‰ì ì„ ë§¤ê¸´ ë°ì´í„°ê°€ ë°ì´í„° í¬ê¸° ë³„ë¡œ ìˆìŠµë‹ˆë‹¤. ```MovieLens 1M Dataset``` ì‚¬ìš©ì„ ê¶Œì¥í•©ë‹ˆë‹¤.
- ë³„ì  ë°ì´í„°ëŠ” ëŒ€í‘œì ì¸ explicit ë°ì´í„°ì…ë‹ˆë‹¤. í•˜ì§€ë§Œ implicit ë°ì´í„°ë¡œ ê°„ì£¼í•˜ê³  í…ŒìŠ¤íŠ¸í•´ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- ë³„ì ì„ **ì‹œì²­íšŸìˆ˜**ë¡œ í•´ì„í•´ì„œ ìƒê°í•˜ê² ìŠµë‹ˆë‹¤.
- ë˜í•œ ìœ ì €ê°€ 3ì  ë¯¸ë§Œìœ¼ë¡œ ì¤€ ë°ì´í„°ëŠ” ì„ í˜¸í•˜ì§€ ì•ŠëŠ”ë‹¤ê³  ê°€ì •í•˜ê³  ì œì™¸í•˜ê² ìŠµë‹ˆë‹¤.

data set
- movies.dat
- ratings.dat
- users.dat
- README

## 1) ë°ì´í„° ì¤€ë¹„ì™€ ì „ì²˜ë¦¬

Movielens ë°ì´í„°ëŠ” ```rating.dat``` ì•ˆì— ì´ë¯¸ ì¸ë±ì‹±ê¹Œì§€ ì™„ë£Œëœ ì‚¬ìš©ì-ì˜í™”-í‰ì  ë°ì´í„°ê°€ ê¹”ë”í•˜ê²Œ ì •ë¦¬ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

In [1]:
import pandas as pd
import os

In [2]:
readme=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/README'
f = open(readme, 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

SUMMARY

================================================================================



These files contain 1,000,209 anonymous ratings of approximately 3,900 movies

made by 6,040 MovieLens users who joined MovieLens in 2000.



USAGE LICENSE

================================================================================



Neither the University of Minnesota nor any of the researchers

involved can guarantee the correctness of the data, its suitability

for any particular purpose, or the validity of results based on the

use of the data set.  The data set may be used for any research

purposes under the following conditions:



     * The user may not state or imply any endorsement from the

       University of Minnesota or the GroupLens Research Group.



     * The user must acknowledge the use of the data set in

       publications resulting from the use of the data set

       (see below for citation information).



     * The user may not redistribute the data without separate

       permission.



     * The user may not use this information for any commercial or

       revenue-bearing purposes without first obtaining permission

       from a faculty member of the GroupLens Research Project at the

       University of Minnesota.



If you have any further questions or comments, please contact GroupLens

<grouplens-info@cs.umn.edu>.



CITATION

================================================================================



To acknowledge use of the dataset in publications, please cite the following

paper:



F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets: History

and Context. ACM Transactions on Interactive Intelligent Systems (TiiS) 5, 4,

Article 19 (December 2015), 19 pages. DOI=http://dx.doi.org/10.1145/2827872





ACKNOWLEDGEMENTS

================================================================================



Thanks to Shyong Lam and Jon Herlocker for cleaning up and generating the data

set.



FURTHER INFORMATION ABOUT THE GROUPLENS RESEARCH PROJECT

================================================================================



The GroupLens Research Project is a research group in the Department of

Computer Science and Engineering at the University of Minnesota. Members of

the GroupLens Research Project are involved in many research projects related

to the fields of information filtering, collaborative filtering, and

recommender systems. The project is lead by professors John Riedl and Joseph

Konstan. The project began to explore automated collaborative filtering in

1992, but is most well known for its world wide trial of an automated

collaborative filtering system for Usenet news in 1996. Since then the project

has expanded its scope to research overall information filtering solutions,

integrating in content-based methods as well as improving current collaborative

filtering technology.



Further information on the GroupLens Research project, including research

publications, can be found at the following web site:



        http://www.grouplens.org/



GroupLens Research currently operates a movie recommender based on

collaborative filtering:



        http://www.movielens.org/



RATINGS FILE DESCRIPTION

================================================================================



All ratings are contained in the file "ratings.dat" and are in the

following format:



UserID::MovieID::Rating::Timestamp



- UserIDs range between 1 and 6040

- MovieIDs range between 1 and 3952

- Ratings are made on a 5-star scale (whole-star ratings only)

- Timestamp is represented in seconds since the epoch as returned by time(2)

- Each user has at least 20 ratings



USERS FILE DESCRIPTION

================================================================================



User information is in the file "users.dat" and is in the following

format:



UserID::Gender::Age::Occupation::Zip-code



All demographic information is provided voluntarily by the users and is

not checked for accuracy.  Only users who have provided some demographic

information are included in this data set.



- Gender is denoted by a "M" for male and "F" for female

- Age is chosen from the following ranges:



	*  1:  "Under 18"

	* 18:  "18-24"

	* 25:  "25-34"

	* 35:  "35-44"

	* 45:  "45-49"

	* 50:  "50-55"

	* 56:  "56+"



- Occupation is chosen from the following choices:



	*  0:  "other" or not specified

	*  1:  "academic/educator"

	*  2:  "artist"

	*  3:  "clerical/admin"

	*  4:  "college/grad student"

	*  5:  "customer service"

	*  6:  "doctor/health care"

	*  7:  "executive/managerial"

	*  8:  "farmer"

	*  9:  "homemaker"

	* 10:  "K-12 student"

	* 11:  "lawyer"

	* 12:  "programmer"

	* 13:  "retired"

	* 14:  "sales/marketing"

	* 15:  "scientist"

	* 16:  "self-employed"

	* 17:  "technician/engineer"

	* 18:  "tradesman/craftsman"

	* 19:  "unemployed"

	* 20:  "writer"



MOVIES FILE DESCRIPTION

================================================================================



Movie information is in the file "movies.dat" and is in the following

format:



MovieID::Title::Genres



- Titles are identical to titles provided by the IMDB (including

year of release)

- Genres are pipe-separated and are selected from the following genres:



	* Action

	* Adventure

	* Animation

	* Children's

	* Comedy

	* Crime

	* Documentary

	* Drama

	* Fantasy

	* Film-Noir

	* Horror

	* Musical

	* Mystery

	* Romance

	* Sci-Fi

	* Thriller

	* War

	* Western



- Some MovieIDs do not correspond to a movie due to accidental duplicate

entries and/or test entries

- Movies are mostly entered by hand, so errors and inconsistencies may exist

In [3]:
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [4]:
# 3ì  ì´ìƒë§Œ ë‚¨ê¹ë‹ˆë‹¤.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [5]:
# ratings ì»¬ëŸ¼ì˜ ì´ë¦„ì„ countsë¡œ ë°”ê¿‰ë‹ˆë‹¤.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [6]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [7]:
# ì˜í™” ì œëª©ì„ ë³´ê¸° ìœ„í•´ ë©”íƒ€ ë°ì´í„°ë¥¼ ì½ì–´ì˜µë‹ˆë‹¤.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [8]:
movies['title'] = movies['title'].str.lower() # ê²€ìƒ‰ì„ ì‰½ê²Œ í•˜ê¸° ìœ„í•´ ì•„í‹°ìŠ¤íŠ¸ ë¬¸ìì—´ì„ ì†Œë¬¸ìë¡œ ë°”ê¿”ì¤ì‹œë‹¤.
movies.head()

   movie_id                               title                         genre
0         1                    toy story (1995)   Animation|Children's|Comedy
1         2                      jumanji (1995)  Adventure|Children's|Fantasy
2         3             grumpier old men (1995)                Comedy|Romance
3         4            waiting to exhale (1995)                  Comedy|Drama
4         5  father of the bride part ii (1995)                        Comedy

In [9]:
#ì„±ë³„, ë‚˜ì´, ì§ì—…, ìš°í¸ë²ˆí˜¸
user_file_path = os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/users.dat'
user_col = ['user_id', 'gender', 'age', 'occupation', 'zip-code']   
users = pd.read_csv(user_file_path, sep='::', names= user_col, engine='python', encoding = "ISO-8859-1") 
users.head(10)

   user_id gender  age  occupation zip-code
0        1      F    1          10    48067
1        2      M   56          16    70072
2        3      M   25          15    55117
3        4      M   45           7    02460
4        5      M   25          20    55455
5        6      F   50           9    55117
6        7      M   35           1    06810
7        8      M   25          12    11413
8        9      M   25          17    61614
9       10      F   35           1    95370

useríŠ¹ì§• 
- ì„±ë³„/ë‚˜ì´/ì§ì—…/ìš°í¸ë²ˆí˜¸ì— ë”°ë¼ ë¶„ë¥˜í•´ ë†“ì•˜ë‹¤.
- ìš°ë¦¬ì—ê²Œ ì¤‘ìš”í•œ ê²ƒì€ ```user_id, movie_id, counts```ì´ë‹¤.
- ì‚¬ìš©ìë³„ í†µê³„ì¹˜ëŠ” ì¤‘ìš”í•œ ë°ì´í„°ì§€ë§Œ ë‚˜ì¤‘ì— ë‹¤ë£¨ê¸°ë¡œ í•œë‹¤.

In [10]:
#ì‚¬ìš©í•˜ëŠ” ì»¬ëŸ¼ë§Œ ë‚¨ê²¨ì¤ë‹ˆë‹¤.
#using_cols = ['user_id', 'artist', 'play']
#users = users[using_cols]
#users.head(10)

In [11]:
#ì²«ë²ˆì§¸ ìœ ì €ê°€ ì–´ë–¤ ì˜í™”ë¥¼ ì¢‹ì•„í•˜ëŠ”ì§€
condition = (ratings['user_id']== ratings.loc[0, 'user_id'])
ratings.loc[condition]

    user_id  movie_id  counts  timestamp
0         1      1193       5  978300760
1         1       661       3  978302109
2         1       914       3  978301968
3         1      3408       4  978300275
4         1      2355       5  978824291
5         1      1197       3  978302268
6         1      1287       5  978302039
7         1      2804       5  978300719
8         1       594       4  978302268
9         1       919       4  978301368
10        1       595       5  978824268
11        1       938       4  978301752
12        1      2398       4  978302281
13        1      2918       4  978302124
14        1      1035       5  978301753
15        1      2791       4  978302188
16        1      2687       3  978824268
17        1      2018       4  978301777
18        1      3105       5  978301713
19        1      2797       4  978302039
20        1      2321       3  978302205
21        1       720       3  978300760
22        1      1270       5  978300055
23        1       527       5  978824195
24        1      2340       3  978300103
25        1        48       5  978824351
26        1      1097       4  978301953
27        1      1721       4  978300055
28        1      1545       4  978824139
29        1       745       3  978824268
30        1      2294       4  978824291
31        1      3186       4  978300019
32        1      1566       4  978824330
33        1       588       4  978824268
34        1      1907       4  978824330
35        1       783       4  978824291
36        1      1836       5  978300172
37        1      1022       5  978300055
38        1      2762       4  978302091
39        1       150       5  978301777
40        1         1       5  978824268
41        1      1961       5  978301590
42        1      1962       4  978301753
43        1      2692       4  978301570
44        1       260       4  978300760
45        1      1028       5  978301777
46        1      1029       5  978302205
47        1      1207       4  978300719
48        1      2028       5  978301619
49        1       531       4  978302149
50        1      3114       4  978302174
51        1       608       4  978301398
52        1      1246       4  978302091

## 2) ë°ì´í„° ë¶„ì„í•´ë³´ê¸°

In [12]:
#movie_idë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„°í”„ë ˆì„ ë³‘í•©
merge_mov = pd.merge(ratings, movies, on='movie_id')
merge_mov.head()

,user_id,movie_id,counts,timestamp,title,genre
0,1,1193,5,978300760,one flew over the cuckoo's nest (1975),Drama
1,2,1193,5,978298413,one flew over the cuckoo's nest (1975),Drama
2,12,1193,4,978220179,one flew over the cuckoo's nest (1975),Drama
3,15,1193,4,978199279,one flew over the cuckoo's nest (1975),Drama
4,17,1193,5,978158471,one flew over the cuckoo's nest (1975),Drama

In [13]:
# ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì˜í™” ê°œìˆ˜
merge_mov['movie_id'].nunique()

3628

In [14]:
# ratingsì— ìˆëŠ” ìœ ë‹ˆí¬í•œ ì‚¬ìš©ì ìˆ˜
merge_mov['user_id'].nunique()

6039

In [15]:
# ì¸ê¸° ë§ì€ ì˜í™”
movie_count = merge_mov.groupby('title')['user_id'].count()
movie_count.sort_values(ascending=False).head(20)

title
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
jurassic park (1993)                                     2413
sixth sense, the (1999)                                  2385
fargo (1996)                                             2371
braveheart (1995)                                        2314
men in black (1997)                                      2297
schindler's list (1993)                                  2257
princess bride, the (1987)                               2252
shakespeare in love (1998)                               2213
l.a. confidential (1997)                                 2210
shawshank redemption, the (1994)                         2194
Name: user_id, dtype: int64

- ë³„ì  3ì ì´ìƒì´ë©´ì„œ ê°€ì¥ ë§ì´ ë³¸ ì˜í™”ëŠ” ```american beauty```ì´ë‹¤.
- userìˆ˜ê°€ ì•½ 6000ëª…ì´ë‹ˆ ê·¸ ì ˆë°˜ ì´ìƒì´ ì¢‹ê²Œ í‰ê°€í•œ ì˜í™”ì´ë‹¤.

In [16]:
# í•œ ì˜í™”ë‹¹ ëª‡ëª…ì˜ ìœ ì €ë“¤ì´ ë´¤ëŠ”ì§€ í†µê³„
user_count = ratings.groupby('user_id')['movie_id'].count()
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: movie_id, dtype: float64

In [17]:
#ìœ ì € í•œëª…ë‹¹ ëª‡í¸ì˜ ì˜í™”ë¥¼ ë³´ëŠ”ì§€ í†µê³„
user_count = ratings.groupby('movie_id')['user_id'].count()
user_count.describe()

count    3628.000000
mean      230.561742
std       355.596393
min         1.000000
25%        23.000000
50%        87.000000
75%       285.000000
max      3211.000000
Name: user_id, dtype: float64

## 3) ë‚´ê°€ ì„ í˜¸í•˜ëŠ” ì˜í™”ë¥¼ 5ê°€ì§€ë¥¼ movie_dataì— ì¶”ê°€í•´ë³´ê¸°

### ëª¨ë¸ ê²€ì¦ì„ ìœ„í•œ ì‚¬ìš©ì ì´ˆê¸° ì •ë³´ ì„¸íŒ…

ì¶”ì²œ ì‹œìŠ¤í…œ
- ì²˜ìŒ ê°€ì…í•˜ëŠ” ì‚¬ìš©ìì˜ ì·¨í–¥ê³¼ ìœ ì‚¬í•œ ì •ë³´ë¥¼ 5ê°œ ì´ìƒ ì…ë ¥ë°›ëŠ” ê³¼ì •ì„ ê±°ì¹˜ê²Œ í•˜ëŠ” ê²½ìš°ê°€ ë§ë‹¤.<br>(ë³¸ì¸ì˜ ì·¨í–¥ê³¼ ê°€ì¥ ìœ ì‚¬í•œ ì˜í™” ì¶”ì²œ)
- ìš°ë¦¬ê°€ ë§Œë“  ì¶”ì²œ ì‹œìŠ¤í…œì˜ ì¶”í›„ ê²€ì¦ ê³¼ì •ì„ ìœ„í•´, 'ë‚˜ëŠ” Aë¥¼ ì¢‹ì•„í•œë‹¤.'ë¼ëŠ” ì •ë³´ë¥¼ ìœ„ ë°ì´í„°ì…‹ì— 5ê°œ ì´ìƒ ì¶”ê°€í•´ ì£¼ì–´ì•¼ í•©ë‹ˆë‹¤. 
- ë‚´ê°€ ì¢‹ì•„í•˜ëŠ” ì˜í™”ë“¤ì„ ê¸°ì¡´ì˜ ë°ì´í„°ì— ì¶”ê°€í•´ ë„£ê¸°(*2000ë…„ëŒ€ ì´ì „ì˜ ì˜í™”*)

In [18]:
cols = ['user_id', 'title', 'counts']
movie_data = merge_mov[cols]
movie_data.head()

   user_id                                   title  counts
0        1  one flew over the cuckoo's nest (1975)       5
1        2  one flew over the cuckoo's nest (1975)       5
2       12  one flew over the cuckoo's nest (1975)       4
3       15  one flew over the cuckoo's nest (1975)       4
4       17  one flew over the cuckoo's nest (1975)       5

In [19]:
temp_titles = merge_mov['title'].str.lower()
merge_mov[['title']][temp_titles.str.contains('beauty')]
merge_mov[['title']][temp_titles.str.contains('before')]
merge_mov[['title']][temp_titles.str.contains('pinocchio')]

                                      title
369500                     pinocchio (1940)
369501                     pinocchio (1940)
369502                     pinocchio (1940)
369503                     pinocchio (1940)
369504                     pinocchio (1940)
...                                     ...
832592  adventures of pinocchio, the (1996)
832593  adventures of pinocchio, the (1996)
832594  adventures of pinocchio, the (1996)
832595  adventures of pinocchio, the (1996)
832596  adventures of pinocchio, the (1996)

[489 rows x 1 columns]

In [20]:
#ì¢‹ì•„í•˜ëŠ” ì˜í™” 5ê°œ
my_favorite = ['beauty and the beast (1991)' , 'Back to the Future (1985)' ,'Toy Story (1995)' ,
               'before sunrise (1995)' ,'pinocchio (1940)']

my_list = pd.DataFrame({'user_id': [6041]*5, 'title': my_favorite, 'counts':[5,3,4,4,5]})

if not movie_data.isin({'user_id':[6041]})['user_id'].any():  # user_idì— '6041'ì´ë¼ëŠ” ë°ì´í„°ê°€ ì—†ë‹¤ë©´
    data = movie_data.append(my_list)                           # ìœ„ì— ì„ì˜ë¡œ ë§Œë“  my_favorite ë°ì´í„°ë¥¼ ì¶”ê°€í•´ ì¤ë‹ˆë‹¤. 

data.tail(10)       # ì˜ ì¶”ê°€ë˜ì—ˆëŠ”ì§€ í™•ì¸í•´ ë´…ì‹œë‹¤.

        user_id                                              title  counts
836473     5851                           one little indian (1973)       5
836474     5854                              slaughterhouse (1987)       4
836475     5854             promise, the (versprechen, das) (1994)       3
836476     5938        five wives, three secretaries and me (1998)       4
836477     5948  identification of a woman (identificazione di ...       5
0          6041                        beauty and the beast (1991)       5
1          6041                          Back to the Future (1985)       3
2          6041                                   Toy Story (1995)       4
3          6041                              before sunrise (1995)       4
4          6041                                   pinocchio (1940)       5

# 4) CSR matrixë¥¼ ì§ì ‘ ë§Œë“¤ì–´ ë´…ì‹œë‹¤.

### ëª¨ë¸ì— í™œìš©í•˜ê¸° ìœ„í•œ ì „ì²˜ë¦¬

- indexing ì‘ì—…
- ì¶”ì²œ ì‹œìŠ¤í…œ, ìì—°ì–´ ì²˜ë¦¬ì—ì„œ ìì£¼ í•˜ëŠ” ì‘ì—…ë“¤
- ë°ì´í„°ì˜ ê´€ë¦¬ë¥¼ ì‰½ê²Œ í•˜ê¸° ìœ„í•´! ìš°ë¦¬ê°€ ë‹¤ë£¨ëŠ” ë°ì´í„°ì—ì„œëŠ” userì™€ title ê°ê°ì— ë²ˆí˜¸ë¥¼ ë¶™ì´ë©´ ëœë‹¤.  

- ```pandas.DataFrame.unique()```ì€ íŠ¹ì • ì»¬ëŸ¼ì— í¬í•¨ëœ ìœ ë‹ˆí¬í•œ ë°ì´í„°ë§Œ ëª¨ì•„ ì¤ë‹ˆë‹¤. indexing ì‘ì—…ì„ ìœ„í•´ ë§¤ìš° ìœ ìš©í•©ë‹ˆë‹¤.

In [21]:
# ê³ ìœ í•œ ìœ ì €, ì˜í™”ë¥¼ ì°¾ì•„ë‚´ëŠ” ì½”ë“œ
user_unique = data['user_id'].unique()
title_unique = data['title'].unique()

# ìœ ì €, ì˜í™” indexing í•˜ëŠ” ì½”ë“œ idxëŠ” indexì˜ ì•½ìì…ë‹ˆë‹¤.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
title_to_idx = {v:k for k,v in enumerate(title_unique)}

In [22]:
# ì¸ë±ì‹±ì´ ì˜ ë˜ì—ˆëŠ”ì§€ í™•ì¸í•´ ë´…ë‹ˆë‹¤. 
print(user_to_idx[6041])    
print(title_to_idx['beauty and the beast (1991)'])

6039
10

In [23]:
# indexingì„ í†µí•´ ë°ì´í„° ì»¬ëŸ¼ ë‚´ ê°’ì„ ë°”ê¾¸ëŠ” ì½”ë“œ
# dictionary ìë£Œí˜•ì˜ get í•¨ìˆ˜ëŠ” https://wikidocs.net/16 ì„ ì°¸ê³ í•˜ì„¸ìš”.

# user_to_idx.getì„ í†µí•´ user_id ì»¬ëŸ¼ì˜ ëª¨ë“  ê°’ì„ ì¸ë±ì‹±í•œ Seriesë¥¼ êµ¬í•´ ë´…ì‹œë‹¤. 
# í˜¹ì‹œ ì •ìƒì ìœ¼ë¡œ ì¸ë±ì‹±ë˜ì§€ ì•Šì€ rowê°€ ìˆë‹¤ë©´ ì¸ë±ìŠ¤ê°€ NaNì´ ë  í…Œë‹ˆ dropna()ë¡œ ì œê±°í•©ë‹ˆë‹¤. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # ëª¨ë“  rowê°€ ì •ìƒì ìœ¼ë¡œ ì¸ë±ì‹±ë˜ì—ˆë‹¤ë©´
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']ì„ ì¸ë±ì‹±ëœ Seriesë¡œ êµì²´í•´ ì¤ë‹ˆë‹¤. 
else:
    print('user_id column indexing Fail!!')

temp_title_data = data['title'].map(title_to_idx.get).dropna()
if len(temp_title_data) == len(data):
    print('title column indexing OK!!')
    data['title'] = temp_title_data
else:
    print('title column indexing Fail!!')

data

user_id column indexing OK!!
title column indexing OK!!

    user_id  title  counts
0         0      0       5
1         1      0       5
2         2      0       4
3         3      0       4
4         4      0       5
..      ...    ...     ...
0      6039     10       5
1      6039   3628       3
2      6039   3629       4
3      6039    213       4
4      6039    528       5

[836483 rows x 3 columns]

## 14-6. CSR(Compressed Sparse Row) Matrix

In [24]:
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_movie = data['title'].nunique()

csr_data = csr_matrix((data.counts, (data.user_id, data.title)), shape= (num_user, num_movie))
csr_data

<6040x3630 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5) als_model = AlternatingLeastSquares ëª¨ë¸ì„ ì§ì ‘ êµ¬ì„±í•˜ì—¬ í›ˆë ¨ì‹œì¼œ ë´…ì‹œë‹¤.

Matrix Factorization ëª¨ë¸ì„ implicit íŒ¨í‚¤ì§€ë¥¼ ì‚¬ìš©í•˜ì—¬ í•™ìŠµí•´ ë´…ì‹œë‹¤.

- ```implicit``` íŒ¨í‚¤ì§€ëŠ” ì•”ë¬µì (implicit) datasetì„ ì‚¬ìš©í•˜ëŠ” ë‹¤ì–‘í•œ ëª¨ë¸ì„ êµ‰ì¥íˆ ë¹ ë¥´ê²Œ í•™ìŠµí•  ìˆ˜ ìˆë‹¤.
- ì´ íŒ¨í‚¤ì§€ì˜ ```als(AlternatingLeastSquares) ëª¨ë¸```ì€
- ```Matrix Factorization```ì—ì„œ ìª¼ê°œì§„ ë‘ Feature Matrixë¥¼ í•œêº¼ë²ˆì— í›ˆë ¨í•˜ëŠ” ê²ƒì€ ì˜ ìˆ˜ë ´í•˜ì§€ ì•Šê¸° ë•Œë¬¸ì—, í•œìª½ì„ ê³ ì •ì‹œí‚¤ê³  ë‹¤ë¥¸ ìª½ì„ í•™ìŠµí•˜ëŠ” ë°©ì‹ì„ ë²ˆê°ˆì•„ ìˆ˜í–‰í•˜ëŠ” AlternatingLeastSquares ë°©ì‹

In [25]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ê¶Œì¥í•˜ê³  ìˆëŠ” ë¶€ë¶„ì…ë‹ˆë‹¤. í•™ìŠµ ë‚´ìš©ê³¼ëŠ” ë¬´ê´€í•©ë‹ˆë‹¤.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

AlternatingLeastSquares í´ë˜ìŠ¤ì˜ ```__init__``` íŒŒë¼ë¯¸í„°ë¥¼ ì‚´í´ë³´ê² ìŠµë‹ˆë‹¤.

1. factors : ìœ ì €ì™€ ì•„ì´í…œì˜ ë²¡í„°ë¥¼ ëª‡ ì°¨ì›ìœ¼ë¡œ í•  ê²ƒì¸ì§€
2. regularization : ê³¼ì í•©ì„ ë°©ì§€í•˜ê¸° ìœ„í•´ ì •ê·œí™” ê°’ì„ ì–¼ë§ˆë‚˜ ì‚¬ìš©í•  ê²ƒì¸ì§€
3. use_gpu : GPUë¥¼ ì‚¬ìš©í•  ê²ƒì¸ì§€
4. iterations : epochsì™€ ê°™ì€ ì˜ë¯¸ì…ë‹ˆë‹¤. ë°ì´í„°ë¥¼ ëª‡ ë²ˆ ë°˜ë³µí•´ì„œ í•™ìŠµí•  ê²ƒì¸ì§€

1ê³¼ 4ë¥¼ ëŠ˜ë¦´ìˆ˜ë¡ í•™ìŠµ ë°ì´í„°ë¥¼ ì˜ í•™ìŠµí•˜ê²Œ ë˜ì§€ë§Œ ê³¼ì í•©ì˜ ìš°ë ¤ê°€ ìˆìœ¼ë‹ˆ ì¢‹ì€ ê°’ì„ ì°¾ì•„ì•¼ í•©ë‹ˆë‹¤.

In [26]:
# Implicit AlternatingLeastSquares ëª¨ë¸ì˜ ì„ ì–¸
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=50, dtype=np.float32)

In [27]:
# als ëª¨ë¸ì€ inputìœ¼ë¡œ (item X user ê¼´ì˜ matrixë¥¼ ë°›ê¸° ë•Œë¬¸ì— Transposeí•´ì¤ë‹ˆë‹¤.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3630x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [28]:
# ëª¨ë¸ í›ˆë ¨
als_model.fit(csr_data_transpose)

  0%|          | 0/50 [00:00<?, ?it/s]

ëª¨ë¸ í•™ìŠµì´ ëë‚¬ìŠµë‹ˆë‹¤! ì´ì œ 2ê°€ì§€ë¥¼ ì•„ë˜ ì‚¬í•­ì„ ì‚´í´ë³´ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

1. 6041 ë²¡í„°ì™€ beauty and the beast ì˜ ë²¡í„°ë¥¼ ì–´ë–»ê²Œ ë§Œë“¤ê³  ìˆëŠ”ì§€
2. ë‘ ë²¡í„°ë¥¼ ê³±í•˜ë©´ ì–´ë–¤ ê°’ì´ ë‚˜ì˜¤ëŠ”ì§€

# 6) ë‚´ê°€ ì„ í˜¸í•˜ëŠ” 5ê°€ì§€ ì˜í™” ì¤‘ í•˜ë‚˜ì™€ ê·¸ ì™¸ì˜ ì˜í™” í•˜ë‚˜ë¥¼ ê³¨ë¼ í›ˆë ¨ëœ ëª¨ë¸ì´ ì˜ˆì¸¡í•œ ë‚˜ì˜ ì„ í˜¸ë„ë¥¼ íŒŒì•…í•´ ë³´ì„¸ìš”.

In [29]:
user6041, beast = user_to_idx[6041], title_to_idx['beauty and the beast (1991)']
user6041_vector, beast_vector = als_model.user_factors[user6041], als_model.item_factors[beast]

In [30]:
user6041_vector

array([-0.00715649,  0.07746248, -0.18662377, -0.35272038, -0.05903573,
        0.42178425, -0.2058486 , -0.03021776,  0.25789624, -0.23612465,
        0.31815323,  0.35091108, -0.28213713,  0.01925837, -0.16640483,
        0.13298747, -0.22518133, -0.12524968, -0.03743031,  0.03968112,
        0.14133136,  0.24462724,  0.0535132 , -0.13213256,  0.19247538,
        0.01135529,  0.4149704 , -0.2738701 ,  0.09273124, -0.25025395,
       -0.02485406,  0.19126105,  0.19611055, -0.37667918,  0.2614404 ,
       -0.04139135,  0.2590755 , -0.19731863,  0.07679452,  0.1648573 ,
       -0.34247944,  0.0868851 ,  0.09511589,  0.02170886,  0.23218207,
        0.44357353,  0.04250064,  0.00756689, -0.3956353 ,  0.17009933,
        0.01590787,  0.3855569 , -0.19024986, -0.28226322, -0.03391667,
       -0.3720141 ,  0.48691383,  0.07515792,  0.07209565, -0.47375387,
       -0.03001277, -0.07407966,  0.36684164,  0.43602687, -0.00821002,
       -0.28042293, -0.0365045 ,  0.3533379 , -0.07507563, -0.12683365,
        0.15466067,  0.02695226,  0.06041626,  0.11443277,  0.08604575,
       -0.06388423, -0.10616934, -0.34814125, -0.26830998,  0.13231027,
       -0.1240715 ,  0.0819055 ,  0.12146848,  0.2474498 , -0.11334062,
        0.41446483, -0.21471608, -0.15558109,  0.05193773, -0.06419734,
        0.13563326, -0.09905688, -0.25173792,  0.25411642,  0.03152036,
       -0.18887395, -0.09580445,  0.26654586, -0.01735123,  0.0350432 ],
      dtype=float32)

In [31]:
beast_vector

array([ 0.0080989 ,  0.01381998, -0.01756625,  0.01157518,  0.00777213,
        0.03716855, -0.02757098,  0.01966676,  0.02999595, -0.0050835 ,
        0.04527861,  0.04203375, -0.00080035, -0.00878834, -0.00754321,
        0.01741148, -0.02955998, -0.03048432, -0.00098648,  0.02165568,
        0.01306525,  0.01661245, -0.01258347, -0.00250935,  0.04091736,
       -0.01695563,  0.02721353, -0.01503646,  0.00708202, -0.01214874,
        0.00204223, -0.00123749,  0.01983229, -0.04652639,  0.02696845,
       -0.00939153,  0.04159104, -0.03194957,  0.01343736,  0.01333431,
       -0.01479965,  0.04089746, -0.01550459,  0.02014306,  0.01794961,
        0.03126036,  0.01365234,  0.01813899, -0.03794048,  0.0007475 ,
       -0.00493197,  0.04580604, -0.00794308, -0.04043281,  0.00673219,
       -0.02960379,  0.05882555,  0.02817988, -0.00879283, -0.04482541,
       -0.00674242,  0.03066926,  0.04436649,  0.04043885,  0.00460699,
        0.00507353, -0.00812139,  0.03082666,  0.00759026, -0.00500204,
        0.032525  ,  0.02299782,  0.02410866, -0.02098791,  0.03505499,
       -0.034807  ,  0.00323955,  0.01091647, -0.04358006,  0.01003291,
       -0.00847805,  0.01869729, -0.00224047,  0.01026531, -0.02713016,
        0.05227994, -0.02440198, -0.02903172,  0.02130501,  0.02508546,
        0.02288361, -0.02988557, -0.00051939,  0.03545368,  0.02166687,
       -0.00557494,  0.00419415,  0.01442637,  0.01721011,  0.00369651],
      dtype=float32)

In [32]:
#user6041ê³¼ beauty and the beastì„ ë‚´ì í•˜ëŠ” ì½”ë“œ
np.dot(user6041_vector, beast_vector)

0.40847436

user6041ì˜ ë¦¬ìŠ¤íŠ¸ì•ˆì— ë¯¸ë…€ì™€ ì•¼ìˆ˜ë¥¼ ë„£ì—ˆì§€ë§Œ 0.4ì˜ ìˆ˜ì¹˜ê°€ ë‚˜ì™”ë‹¤.<br> 
ì´ ìˆ˜ì¹˜ë§Œìœ¼ë¡œëŠ” ëª¨ë¸ì´ ì˜ í•™ìŠµí•œ ê²ƒì¸ì§€ ì•Œê¸°ëŠ” ì–´ë µë‹¤.<br>
ë‹¤ìŒ ë‹¤ë¥¸ ì˜í™”ì— ëŒ€í•œ ì„ í˜¸ë„ë¥¼ ì–´ë–»ê²Œ ì˜ˆì¸¡í• ì§€ ë³¼ê²ƒì´ë‹¤.

# 7) ë‚´ê°€ ì¢‹ì•„í•˜ëŠ” ì˜í™”ì™€ ë¹„ìŠ·í•œ ì˜í™”ë¥¼ ì¶”ì²œë°›ì•„ ë´…ì‹œë‹¤.

In [33]:
favorite_movie = 'truman show, the (1998)'
title_id = title_to_idx[favorite_movie]
similar_movie = als_model.similar_items(title_id, N=15)
similar_movie

[(385, 1.0000001),
 (39, 0.6565895),
 (641, 0.6045274),
 (465, 0.5969098),
 (248, 0.596067),
 (386, 0.5660268),
 (406, 0.5530257),
 (533, 0.53239936),
 (843, 0.49337706),
 (384, 0.4821683),
 (437, 0.47790486),
 (429, 0.47303885),
 (844, 0.47255087),
 (18, 0.463272),
 (556, 0.45164615)]

In [34]:
#artist_to_idx ë¥¼ ë’¤ì§‘ì–´, indexë¡œë¶€í„° artist ì´ë¦„ì„ ì–»ëŠ” dictë¥¼ ìƒì„±í•©ë‹ˆë‹¤. 
idx_to_title = {v:k for k,v in title_to_idx.items()}
[idx_to_title[i[0]] for i in similar_movie]

['truman show, the (1998)',
 'apollo 13 (1995)',
 "mr. holland's opus (1995)",
 'quiz show (1994)',
 'good will hunting (1997)',
 'philadelphia (1993)',
 'people vs. larry flynt, the (1996)',
 'fried green tomatoes (1991)',
 'primary colors (1998)',
 'jerry maguire (1996)',
 "what's eating gilbert grape (1993)",
 'scent of a woman (1992)',
 'rainmaker, the (1997)',
 'awakenings (1990)',
 'river runs through it, a (1992)']

In [35]:
def get_similar_movie(movie_name: str):
    title_id = title_to_idx[movie_name]
    similar_movie = als_model.similar_items(title_id)
    similar_movie = [idx_to_title[i[0]] for i in similar_movie]
    return similar_movie

In [36]:
get_similar_movie('home alone (1990)')

['home alone (1990)',
 'sister act (1992)',
 'mrs. doubtfire (1993)',
 'mighty ducks, the (1992)',
 'home alone 2: lost in new york (1992)',
 'father of the bride part ii (1995)',
 'liar liar (1997)',
 '101 dalmatians (1996)',
 'my blue heaven (1990)',
 'first wives club, the (1996)']

In [37]:
get_similar_movie('good will hunting (1997)')

['good will hunting (1997)',
 'shawshank redemption, the (1994)',
 'apollo 13 (1995)',
 'truman show, the (1998)',
 'dead man walking (1995)',
 'pulp fiction (1994)',
 'awakenings (1990)',
 'jerry maguire (1996)',
 "what's eating gilbert grape (1993)",
 'searching for bobby fischer (1993)']

ë‚˜í™€ë¡œ ì§‘ì— home alone (1990)

## 8) ë‚´ê°€ ê°€ì¥ ì¢‹ì•„í•  ë§Œí•œ ì˜í™”ë“¤ì„ ì¶”ì²œë°›ì•„ ë´…ì‹œë‹¤.

- ```AlternatingLeastSquares``` í´ë˜ìŠ¤ì— êµ¬í˜„ë˜ì–´ ìˆëŠ” ```recommend``` ë©”ì„œë“œë¥¼ í†µí•˜ì—¬ ìœ ì €ê°€ ì¢‹ì•„í• ë§Œí•œ ì˜í™”ë¥¼ ì¶”ì²œí•œë‹¤. 
- ```filter_already_liked_items``` ëŠ” ìœ ì €ê°€ ì´ë¯¸ í‰ê°€í•œ ì•„ì´í…œì€ ì œì™¸í•˜ëŠ” Argumentì…ë‹ˆë‹¤.

In [38]:
user = user_to_idx[6041]
# recommendì—ì„œëŠ” user*item CSR Matrixë¥¼ ë°›ìŠµë‹ˆë‹¤.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(330, 0.34028113),
 (33, 0.30273837),
 (8, 0.29311073),
 (37, 0.28811067),
 (17, 0.287292),
 (191, 0.2634983),
 (46, 0.2613876),
 (572, 0.24521695),
 (547, 0.22418325),
 (551, 0.21633841),
 (548, 0.21235451),
 (536, 0.2082034),
 (950, 0.20104265),
 (619, 0.20032705),
 (34, 0.19611911),
 (30, 0.18888333),
 (16, 0.18053202),
 (520, 0.17024726),
 (4, 0.15865356),
 (45, 0.15162943)]

In [39]:
[idx_to_title[i[0]] for i in movie_recommended]

['lion king, the (1994)',
 'aladdin (1992)',
 'snow white and the seven dwarfs (1937)',
 'cinderella (1950)',
 'bambi (1942)',
 'little mermaid, the (1989)',
 'dumbo (1941)',
 'sleeping beauty (1959)',
 'lady and the tramp (1955)',
 'peter pan (1953)',
 'fantasia (1940)',
 'jungle book, the (1967)',
 '101 dalmatians (1961)',
 'alice in wonderland (1951)',
 'mulan (1998)',
 'antz (1998)',
 'tarzan (1999)',
 "charlotte's web (1973)",
 "bug's life, a (1998)",
 'mary poppins (1964)']

favorite ë¦¬ìŠ¤íŠ¸ ì•ˆì— 3í¸ì˜ ì• ë‹ˆë©”ì´ì…˜ì„ ë„£ì–´ì„œ ê·¸ëŸ°ì§€ ì „ë¶€ ì• ë‹ˆë©”ì´ì…˜ì¸ ì¶”ì²œëª©ë¡ì´ ë‚˜ì˜¨ë‹¤<br>
ì¶”ì²œ ëª©ë¡ì„ ë³´ë©´ ì˜í™”ê°„ì˜ ìœ ì‚¬ì„±ì€ ì˜ íŒŒì•…í•˜ëŠ” ê²ƒìœ¼ë¡œ ë³´ì¸ë‹¤.<br>
ì¢€ë” ë‹¤ì–‘í•œ ì¥ë¥´ë¡œ ì¶”ì²œí•´ì¤¬ìœ¼ë©´ í•˜ëŠ” ì•„ì‰¬ì›€ì´ ìˆë‹¤.

- ```AlternatingLeastSquares``` í´ë˜ìŠ¤ì— êµ¬í˜„ëœ ```explain``` ë©”ì„œë“œë¥¼ ì‚¬ìš©í•˜ë©´ 
- 5ê°€ì§€ ê³ ë¥¸ ë°ì´í„° ì¤‘ ì´ ì¶”ì²œì— ê¸°ì—¬í•œ ì •ë„ë¥¼ í™•ì¸í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [40]:
bambi = title_to_idx['bambi (1942)']
explain = als_model.explain(user, csr_data, itemid=bambi)

In [41]:
[(idx_to_title[i[0]], i[1]) for i in explain[1]]

[('pinocchio (1940)', 0.20043388997101874),
 ('beauty and the beast (1991)', 0.07158834595831849),
 ('before sunrise (1995)', 0.012103554364486147),
 ('Toy Story (1995)', 0.0007822762827913866),
 ('Back to the Future (1985)', 0.0004398140981171245)]

### * (ì¶”ê°€)

ì„±ë³„ê³¼ ë‚˜ì´ì— ë”°ë¼ì„œ ì–´ë–»ê²Œ ë‹¤ë¥´ê²Œ ë‚˜ì˜¬ê¹Œ

### 1. ë°ì´í„° ì¤€ë¹„

In [42]:
# ì„±ë³„, ë‚˜ì´, ì§ì—…, ìš°í¸ë²ˆí˜¸
user_file_path = os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/users.dat'
user_col = ['user_id', 'gender', 'age', 'occupation', 'zip-code']   
users = pd.read_csv(user_file_path, sep='::', names= user_col, engine='python', encoding = "ISO-8859-1")
users.head(10)

   user_id gender  age  occupation zip-code
0        1      F    1          10    48067
1        2      M   56          16    70072
2        3      M   25          15    55117
3        4      M   45           7    02460
4        5      M   25          20    55455
5        6      F   50           9    55117
6        7      M   35           1    06810
7        8      M   25          12    11413
8        9      M   25          17    61614
9       10      F   35           1    95370

In [43]:
users = users[users['gender']=='M']
filtered_data_size = len(users)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 4331
Ratio of Remaining Data is 0.43%

In [44]:
for c in users.columns:
    print('{} : {}'.format(c, len(users.loc[pd.isnull(users[c]), c].values)))

user_id : 0
gender : 0
age : 0
occupation : 0
zip-code : 0

ì„±ë³„ f, mëª¨ë‘ 5000ì´í•˜ì˜ ë°ì´í„°í¬ê¸°ë¥¼ ê°€ì§€ê³  ìˆë‹¤.<br>
ê·¸ë ‡ë‹¤ë©´ f, mì„ ì œì™¸í•œ ë‚˜ë¨¸ì§€ëŠ” nullì˜ ê°’ì„ ê°€ì§€ëŠ”ì§€ ê¶ê¸ˆí•´ì„œ ì•Œì•„ë³´ì•˜ì§€ë§Œ
nullê°’ì„ ê°€ì§„ ê²ƒì€ í•˜ë‚˜ë„ ì—†ì—ˆë‹¤.<br>
ì•„ë§ˆë„ ë‹¤ë¥¸ ë°©ì‹ìœ¼ë¡œ í‘œê¸°ê°€ ëœ ê²ƒ ê°™ë‹¤.

> X

### * (ì¶”ê°€_end)

# ë£¨ë¸Œë¦­

ì•„ë˜ì˜ ê¸°ì¤€ì„ ë°”íƒ•ìœ¼ë¡œ í”„ë¡œì íŠ¸ë¥¼ í‰ê°€í•©ë‹ˆë‹¤.

|í‰ê°€ë¬¸í•­||ìƒì„¸ê¸°ì¤€|
|:----||:-----|
|1. CSR matrixê°€ ì •ìƒì ìœ¼ë¡œ ë§Œë“¤ì–´ì¡Œë‹¤.||ì‚¬ìš©ìì™€ ì•„ì´í…œ ê°œìˆ˜ë¥¼ ë°”íƒ•ìœ¼ë¡œ ì •í™•í•œ ì‚¬ì´ì¦ˆë¡œ ë§Œë“¤ì—ˆë‹¤.|
|2. MF ëª¨ë¸ì´ ì •ìƒì ìœ¼ë¡œ í›ˆë ¨ë˜ì–´ ê·¸ëŸ´ë“¯í•œ ì¶”ì²œì´ ì´ë£¨ì–´ì¡Œë‹¤.||ì‚¬ìš©ìì™€ ì•„ì´í…œ ë²¡í„° ë‚´ì ìˆ˜ì¹˜ê°€ ì˜ë¯¸ìˆê²Œ í˜•ì„±ë˜ì—ˆë‹¤.|
|3. ë¹„ìŠ·í•œ ì˜í™” ì°¾ê¸°ì™€ ìœ ì €ì—ê²Œ ì¶”ì²œí•˜ê¸°ì˜ ê³¼ì •ì´ ì •ìƒì ìœ¼ë¡œ ì§„í–‰ë˜ì—ˆë‹¤.||MFëª¨ë¸ì´ ì˜ˆì¸¡í•œ ìœ ì € ì„ í˜¸ë„ ë° ì•„ì´í…œê°„ ìœ ì‚¬ë„, ê¸°ì—¬ë„ê°€ ì˜ë¯¸ìˆê²Œ ì¸¡ì •ë˜ì—ˆë‹¤.|

# íšŒê³ 

ì¶”ì²œì‹œìŠ¤í…œ
- ì´ë²ˆê»€ ìƒë‹¹íˆ ì¬ë°Œì—ˆë‹¤.
- ì €ë²ˆì—ëŠ” bertê°€ ì–´ë–¤ ëª¨ë¸êµ¬ì¡°ë¥¼ ê°€ì§„ì§€ ì´í•´ë¥¼ ì˜ ëª»í•˜ê³  í–ˆë˜ ë°˜ë©´, ì´ë²ˆì€ ì¶”ì²œì‹œìŠ¤í…œì˜ ì „ë°˜ì ì¸ ì§€ì‹ì„ ì•Œê³  ë” ì°¨ê·¼ì°¨ê·¼íˆ ì˜ë³¼ ìˆ˜ ìˆì—ˆë˜ê²ƒ ê°™ë‹¤.(A**ì˜ ì—­ê³„ë‹¨ì‹ í•™ìŠµë²•..ã…‚ã„·ã…‚ã„·)
- ì¬ë°Œì—ˆë˜ ì ì€ **ëª…ì‹œì /ì•”ë¬µì  í‰ê°€**ê°€ ì‚¬ìš©ìì˜ ì„ í˜¸ë„ë¥¼ íŒë‹¨í•˜ëŠ” ì§€í‘œì¸ë°, ëª…ì‹œì í‰ê°€ëŠ”-ì¢‹ì•„ìš”ë‚˜ ë³„ì ì²˜ëŸ¼ ì‚¬ìš©ìì˜ ì„ í˜¸ë„ë¥¼ ì§ì ‘ì ìœ¼ë¡œ ë³´ì—¬ì£¼ëŠ” ê²ƒì´ë¼ë©´ ì•”ë¬µì í‰ê°€ëŠ”-ì‚¬ìš©ìê°€ ì˜ìƒì„ ëª‡ë²ˆ ë³´ì•˜ë‚˜, ì–¼ë§ˆë‚˜ ë´¤ë‚˜ì™€ ê°™ì€ ê°„ì ‘ì ì¸ ì„ í˜¸ë„ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤. ìš°ë¦¬ê°€ ì´ë²ˆì— í•´ë³¸ í”„ë¡œì íŠ¸ëŠ” ë³„ì  ê°œìˆ˜ë¥¼ 3ê°œ ì´ìƒì¸ ë°ì´í„°ë§Œ ì¶”ë ¤ë‚´ì–´ í”Œë ˆì´íšŸìˆ˜ë¡œ ì¸ì‹í•´ì„œ ì§„í–‰í–ˆë‹¤.
- ì´ ì ì—ì„œ ìš°ë¦¬ê°€ ê°€ì§„ ë°ì´í„°ì…‹ì„ ë‹¨ìˆœí•˜ê²Œ ë‹¤ì–‘í•˜ê²Œ ë³€í˜•ì´ ê°€ëŠ¥í•˜ê¸°ë„ í•˜ê³ , ì´ëŸ° ì•”ë¬µì  í‰ê°€ë¥¼ ì–´ë–»ê²Œ ì¸ì‹í•˜ëŠëƒì— ë”°ë¼ ëª¨ë¸ì˜ ê²°ê³¼ê°€ ë‹¤ë¥´ê²Œ ë‚˜ì˜¬ ê²ƒì´ë€ê±¸ ì•Œê²Œë˜ì—ˆë‹¤.
- ê·¸ë¦¬ê³  ë…¸ë“œ ì¤‘ê°„ì¤‘ê°„ì— ì§ˆë¬¸ì„ ë˜ì§€ëŠ” ```Q. (ex. ì–´ë–¤ ì•„í‹°ìŠ¤íŠ¸ì˜ ê³¡ì„ í•œë²ˆë§Œ ë“¤ì€ ìœ ì €ì—ê² ê·¸ ì•„í‹°ìŠ¤íŠ¸ì™€ ê´€ë ¨ëœ ì‚¬ëŒì„ ì¶”ì²œí•´ì•¼í• ê¹Œ?)```ì™€ ê°™ì€ ë‹µì´ ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ì‹¬ì‹¬ì¹˜ì•Šì€ ì§ˆë¬¸ë“¤ë¡œ í¥ë¯¸ë¥¼ ë‹êµ¬ê²Œ í•œ ë‚´ìš©ì´ì—ˆë˜ ê²ƒ ê°™ë‹¤.

https://danthetech.netlify.app/DataScience/evaluation-metrics-for-recommendation-system